html {
    background-color: #303841;
}
body {
    background-color: #303841;
    color: #cccccc;
    font-family: 'Open Sans', sans-serif;
}
.container {
    max-width: 700px;
}
.bookshelf {
    margin-top: 15px;
}
.book {
    display: inline;
    padding: 20px 10px;
}
a {
    /*color: inherit;*/
    text-decoration: none;
}
    a:hover {
		color: #37BC9B;
    }
.link-to-profile {
    float: right;
    padding-right: 5px;
}
.loader {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.footer {
	position: fixed;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
}
