.container {
    max-width: 650px;
}
.bookshelf {
    margin-top: 15px;
}
.book {
    display: inline;
    padding: 20px 10px;
}
a {
    text-decoration: none;
}
.link-to-profile {
    float: right;
}
